<a href="https://colab.research.google.com/github/RamaSiritha/RamaSiritha_INFO5731_Spring2021/blob/main/In_class_exercise_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The fourth in-class-exercise (20 points in total, 2/9/2021)**

# 1. Text Data Preprocessing

Here is a [legal case](https://github.com/unt-iialab/info5731_spring2021/blob/main/class_exercises/01-05-1%20%20Adams%20v%20Tanner.txt) we collected from westlaw, please follow the steps we mentioned in lesson 5 to clean the data:



## 1.1 Basic feature extraction using text data (4 points)

*   Number of sentences
*   Number of words
*   Number of characters
*   Average word length
*   Number of stopwords
*   Number of special characters
*   Number of numerics
*   Number of uppercase words

## 1.2 Basic Text Pre-processing of text data (4 points)

*   Lower casing
*   Punctuation removal
*   Stopwords removal
*   Frequent words removal
*   Rare words removal
*   Spelling correction
*   Tokenization
*   Stemming
*   Lemmatization

## 1.3 Save all the **clean sentences** to a **csv file** (one column, each raw is a sentence) after finishing all the steps above. (4 points)


## 1.4 Advance Text Processing (Extra credit: 4 points)

*   Calculate the term frequency of all the terms.
*   Print out top 10 1-gram, top 10 2-grams, and top 10 3-grams terms as features.

1.1 Basic Feature extraction

In [ ]:
# Write your code here
from six.moves import urllib
import pandas as pd
t=[]
data_link="https://raw.githubusercontent.com/unt-iialab/info5731_spring2021/main/class_exercises/01-05-1%20%20Adams%20v%20Tanner.txt"
train=urllib.request.urlopen(data_link)
for line in train:
  d=line.decode("utf-8").replace('\r\n','')
  if d:t.append(d)
df=pd.DataFrame(t,columns=['Raw Text'])
print(df)

                                              Raw Text
0                                           5 Ala. 740
1                            Supreme Court of Alabama.
2                                                ADAMS
3                                                   v.
4                                   TANNER AND HORTON.
..                                                 ...
143            There are no Filings for this citation.
144                                 Negative Treatment
145  There are no Negative Treatment results for th...
146                                            History
147    There are no History results for this citation.

[148 rows x 1 columns]



*   Number of Sentences

In [34]:
df['Number of Sentences'] = df['Raw Text'].apply(lambda x: len(str(x).split(".")))
df

                                              Raw Text  ...  Number of Sentences
0                                           5 Ala. 740  ...                    2
1                            Supreme Court of Alabama.  ...                    2
2                                                ADAMS  ...                    1
3                                                   v.  ...                    2
4                                   TANNER AND HORTON.  ...                    2
..                                                 ...  ...                  ...
143            There are no Filings for this citation.  ...                    2
144                                 Negative Treatment  ...                    1
145  There are no Negative Treatment results for th...  ...                    2
146                                            History  ...                    1
147    There are no History results for this citation.  ...                    2

[148 rows x 18 columns]



*   Number of words

In [35]:
df['Number of words']=df['Raw Text'].apply(lambda x:len(str(x).split(" ")))
df

                                              Raw Text  ...  Number of words
0                                           5 Ala. 740  ...                3
1                            Supreme Court of Alabama.  ...                4
2                                                ADAMS  ...                1
3                                                   v.  ...                1
4                                   TANNER AND HORTON.  ...                3
..                                                 ...  ...              ...
143            There are no Filings for this citation.  ...                7
144                                 Negative Treatment  ...                2
145  There are no Negative Treatment results for th...  ...                9
146                                            History  ...                1
147    There are no History results for this citation.  ...                8

[148 rows x 19 columns]



*   Number of characters

In [36]:
df['Number of Characters']=df['Raw Text'].str.len()
df

                                              Raw Text  ...  Number of Characters
0                                           5 Ala. 740  ...                    10
1                            Supreme Court of Alabama.  ...                    25
2                                                ADAMS  ...                     5
3                                                   v.  ...                     2
4                                   TANNER AND HORTON.  ...                    18
..                                                 ...  ...                   ...
143            There are no Filings for this citation.  ...                    39
144                                 Negative Treatment  ...                    18
145  There are no Negative Treatment results for th...  ...                    58
146                                            History  ...                     7
147    There are no History results for this citation.  ...                    47

[148 rows x 20 columns]



*   Average word length

In [ ]:
def avg_word_l(s):
  w=s.split()
  if len(w)!=0:
    return (sum(len(word) for word in w)/len(w))
  else:
    return None
df['Average Word length']=df['Raw Text'].apply(lambda x:avg_word_l(x))
df

                                              Raw Text  ...  Average Word length
0                                           5 Ala. 740  ...             2.666667
1                            Supreme Court of Alabama.  ...             5.500000
2                                                ADAMS  ...             5.000000
3                                                   v.  ...             2.000000
4                                   TANNER AND HORTON.  ...             5.333333
..                                                 ...  ...                  ...
143            There are no Filings for this citation.  ...             4.714286
144                                 Negative Treatment  ...             8.500000
145  There are no Negative Treatment results for th...  ...             5.555556
146                                            History  ...             7.000000
147    There are no History results for this citation.  ...             5.000000

[148 rows x 5 columns]



*   Number of stopwords

In [ ]:
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

s=stopwords.words('english')
df['No of stopwords']=df['Raw Text'].apply(lambda x: len([x for x in x.split() if x in s]))
df

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                              Raw Text  ...  No of stopwords
0                                           5 Ala. 740  ...                0
1                            Supreme Court of Alabama.  ...                1
2                                                ADAMS  ...                0
3                                                   v.  ...                0
4                                   TANNER AND HORTON.  ...                0
..                                                 ...  ...              ...
143            There are no Filings for this citation.  ...                4
144                                 Negative Treatment  ...                0
145  There are no Negative Treatment results for th...  ...                4
146                                            History  ...                0
147    There are no History results for this citation.  ...                4

[148 rows x 6 columns]



*   Number of special characters

In [ ]:
def spl_char(sentence):
  spl=0
  for i in range(len(sentence)):
    if not((sentence[i].isalpha()) and (sentence[i].isdigit())):
      spl+=1
  return spl
df['No of special characters']=df['Raw Text'].apply(lambda x:spl_char(x))
df

                                              Raw Text  ...  No of special characters
0                                           5 Ala. 740  ...                        10
1                            Supreme Court of Alabama.  ...                        25
2                                                ADAMS  ...                         5
3                                                   v.  ...                         2
4                                   TANNER AND HORTON.  ...                        18
..                                                 ...  ...                       ...
143            There are no Filings for this citation.  ...                        39
144                                 Negative Treatment  ...                        18
145  There are no Negative Treatment results for th...  ...                        58
146                                            History  ...                         7
147    There are no History results for this citation.  ...                        47

[148 rows x 7 columns]



*  Number of numerics

In [ ]:
df['No of numerics']=df['Raw Text'].apply(lambda x:len([x for x in x.split() if x.isdigit()]))
df

                                              Raw Text  ...  No of numerics
0                                           5 Ala. 740  ...               2
1                            Supreme Court of Alabama.  ...               0
2                                                ADAMS  ...               0
3                                                   v.  ...               0
4                                   TANNER AND HORTON.  ...               0
..                                                 ...  ...             ...
143            There are no Filings for this citation.  ...               0
144                                 Negative Treatment  ...               0
145  There are no Negative Treatment results for th...  ...               0
146                                            History  ...               0
147    There are no History results for this citation.  ...               0

[148 rows x 8 columns]



*   Number of uppercase words

In [ ]:
df['No of uppercase words']=df['Raw Text'].apply(lambda x:len([x for x in x.split() if x.isupper()]))
df

                                              Raw Text  ...  No of uppercase words
0                                           5 Ala. 740  ...                      0
1                            Supreme Court of Alabama.  ...                      0
2                                                ADAMS  ...                      1
3                                                   v.  ...                      0
4                                   TANNER AND HORTON.  ...                      3
..                                                 ...  ...                    ...
143            There are no Filings for this citation.  ...                      0
144                                 Negative Treatment  ...                      0
145  There are no Negative Treatment results for th...  ...                      0
146                                            History  ...                      0
147    There are no History results for this citation.  ...                      0

[148 rows x 9 columns]

1.2 Basic Text Pre-processing of text data



*  Lower casing

In [37]:
df['Lower Case'] = df['Raw Text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df

                                              Raw Text  ...                                         Lower Case
0                                           5 Ala. 740  ...                                         5 ala. 740
1                            Supreme Court of Alabama.  ...                          supreme court of alabama.
2                                                ADAMS  ...                                              adams
3                                                   v.  ...                                                 v.
4                                   TANNER AND HORTON.  ...                                 tanner and horton.
..                                                 ...  ...                                                ...
143            There are no Filings for this citation.  ...            there are no filings for this citation.
144                                 Negative Treatment  ...                                 negative treatment
145  There are no Negative Treatment results for th...  ...  there are no negative treatment results for th...
146                                            History  ...                                            history
147    There are no History results for this citation.  ...    there are no history results for this citation.

[148 rows x 21 columns]



*   Punctuation removal

In [38]:
df['Removal of Punctuation'] = df['Lower Case'].str.replace('[^\w\s]','')
df

                                              Raw Text  ...                                         Lower Case
0                                           5 Ala. 740  ...                                         5 ala. 740
1                            Supreme Court of Alabama.  ...                          supreme court of alabama.
2                                                ADAMS  ...                                              adams
3                                                   v.  ...                                                 v.
4                                   TANNER AND HORTON.  ...                                 tanner and horton.
..                                                 ...  ...                                                ...
143            There are no Filings for this citation.  ...            there are no filings for this citation.
144                                 Negative Treatment  ...                                 negative treatment
145  There are no Negative Treatment results for th...  ...  there are no negative treatment results for th...
146                                            History  ...                                            history
147    There are no History results for this citation.  ...    there are no history results for this citation.

[148 rows x 21 columns]



*  Stopwords removal

In [39]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
df['Stopwords Removal'] = df['Removal of Punctuation'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df

                                              Raw Text  ...                                         Lower Case
0                                           5 Ala. 740  ...                                         5 ala. 740
1                            Supreme Court of Alabama.  ...                          supreme court of alabama.
2                                                ADAMS  ...                                              adams
3                                                   v.  ...                                                 v.
4                                   TANNER AND HORTON.  ...                                 tanner and horton.
..                                                 ...  ...                                                ...
143            There are no Filings for this citation.  ...            there are no filings for this citation.
144                                 Negative Treatment  ...                                 negative treatment
145  There are no Negative Treatment results for th...  ...  there are no negative treatment results for th...
146                                            History  ...                                            history
147    There are no History results for this citation.  ...    there are no history results for this citation.

[148 rows x 21 columns]



*   Frequent words removal

In [40]:
freq_words = pd.Series(' '.join(df['Stopwords Removal']).split()).value_counts()[:10]
print(freq_words)
freq_words_list = list(freq_words.index)
df['After common words removal'] = df['Stopwords Removal'].apply(lambda x: " ".join(x for x in x.split() if x not in freq_words_list))
df

execution    50
crop         49
levy         25
lien         25
v            22
claimants    22
case         21
right        21
court        20
gathered     19
dtype: int64

                                              Raw Text  ...           After common words removal
0                                           5 Ala. 740  ...                            5 ala 740
1                            Supreme Court of Alabama.  ...                      supreme alabama
2                                                ADAMS  ...                                adams
3                                                   v.  ...
4                                   TANNER AND HORTON.  ...                        tanner horton
..                                                 ...  ...                                  ...
143            There are no Filings for this citation.  ...                     filings citation
144                                 Negative Treatment  ...                   negative treatment
145  There are no Negative Treatment results for th...  ...  negative treatment results citation
146                                            History  ...                              history
147    There are no History results for this citation.  ...             history results citation

[148 rows x 22 columns]



*   Rare words removal

In [43]:
rare_words = pd.Series(' '.join(df['Stopwords Removal']).split()).value_counts()[-10:]
print(rare_words)
rare_words_list = list(rare_words.index)
df['After Rare Words removal'] = df['After common words removal'].apply(lambda x: " ".join(x for x in x.split() if x not in rare_words_list))
df

gave        1
216         1
supra       1
silent      1
ormond      1
55          1
271         1
decided     1
disposed    1
1812        1
dtype: int64

                                              Raw Text  ...           After common words removal
0                                           5 Ala. 740  ...                            5 ala 740
1                            Supreme Court of Alabama.  ...                      supreme alabama
2                                                ADAMS  ...                                adams
3                                                   v.  ...
4                                   TANNER AND HORTON.  ...                        tanner horton
..                                                 ...  ...                                  ...
143            There are no Filings for this citation.  ...                     filings citation
144                                 Negative Treatment  ...                   negative treatment
145  There are no Negative Treatment results for th...  ...  negative treatment results citation
146                                            History  ...                              history
147    There are no History results for this citation.  ...             history results citation

[148 rows x 22 columns]



*   Spelling correction

In [44]:
from textblob import TextBlob
df['Spelling Correction'] = df['After Rare Words removal'].apply(lambda x: str(TextBlob(x).correct()))
df

                                              Raw Text  ...                   Spelling Correction
0                                           5 Ala. 740  ...                             5 all 740
1                            Supreme Court of Alabama.  ...                       supreme alabama
2                                                ADAMS  ...                                 adams
3                                                   v.  ...
4                                   TANNER AND HORTON.  ...                         manner norton
..                                                 ...  ...                                   ...
143            There are no Filings for this citation.  ...                      filing situation
144                                 Negative Treatment  ...                    negative treatment
145  There are no Negative Treatment results for th...  ...  negative treatment results situation
146                                            History  ...                               history
147    There are no History results for this citation.  ...             history results situation

[148 rows x 23 columns]



*   Tokenization

In [45]:
import nltk
nltk.download('punkt')
df['Tokenization']=df['Spelling Correction'].apply(lambda x:TextBlob(x).words)
df

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

                                              Raw Text  ...                               Tokenization
0                                           5 Ala. 740  ...                              [5, all, 740]
1                            Supreme Court of Alabama.  ...                         [supreme, alabama]
2                                                ADAMS  ...                                    [adams]
3                                                   v.  ...                                         []
4                                   TANNER AND HORTON.  ...                           [manner, norton]
..                                                 ...  ...                                        ...
143            There are no Filings for this citation.  ...                        [filing, situation]
144                                 Negative Treatment  ...                      [negative, treatment]
145  There are no Negative Treatment results for th...  ...  [negative, treatment, results, situation]
146                                            History  ...                                  [history]
147    There are no History results for this citation.  ...              [history, results, situation]

[148 rows x 24 columns]



*   Stemming

In [46]:
from nltk.stem import PorterStemmer
s=PorterStemmer()
df['Stemming']=df['Tokenization'].apply(lambda x:" ".join([s.stem(word) for word in x]))
df

                                              Raw Text  ...                     Stemming
0                                           5 Ala. 740  ...                    5 all 740
1                            Supreme Court of Alabama.  ...               suprem alabama
2                                                ADAMS  ...                         adam
3                                                   v.  ...
4                                   TANNER AND HORTON.  ...                manner norton
..                                                 ...  ...                          ...
143            There are no Filings for this citation.  ...                  file situat
144                                 Negative Treatment  ...                neg treatment
145  There are no Negative Treatment results for th...  ...  neg treatment result situat
146                                            History  ...                      histori
147    There are no History results for this citation.  ...        histori result situat

[148 rows x 25 columns]



*   Lemmatization

In [47]:
from textblob import Word
import nltk
nltk.download('wordnet')
df['Lemmatization']=df['Stemming'].apply(lambda x:" ".join([Word(word).lemmatize() for word in x.split()]))
df

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

                                              Raw Text  ...                Lemmatization
0                                           5 Ala. 740  ...                    5 all 740
1                            Supreme Court of Alabama.  ...               suprem alabama
2                                                ADAMS  ...                         adam
3                                                   v.  ...
4                                   TANNER AND HORTON.  ...                manner norton
..                                                 ...  ...                          ...
143            There are no Filings for this citation.  ...                  file situat
144                                 Negative Treatment  ...                neg treatment
145  There are no Negative Treatment results for th...  ...  neg treatment result situat
146                                            History  ...                      histori
147    There are no History results for this citation.  ...        histori result situat

[148 rows x 26 columns]

1.3 Saving to a csv file

In [48]:
df.to_csv('Data after cleaning',index=False)

1.4 Advance Text Processing


*   Calculating text frequencies

In [49]:
tfreq=(df['Lemmatization']).apply(lambda x:pd.value_counts(x.split(" "))).sum(axis=0).reset_index()
tfreq.columns=['words','tfreq']
tfreq

       words  tfreq
0          5    8.0
1        740    2.0
2        all   17.0
3     suprem    1.0
4    alabama    1.0
..       ...    ...
701      rye    1.0
702    yield    1.0
703     file    2.0
704      neg    2.0
705  histori    2.0

[706 rows x 2 columns]

In [50]:
import itertools
import collections
from nltk import ngrams
from nltk.tokenize import word_tokenize

w = []
for s in df['Lemmatization']:
  w.append(word_tokenize(s))
a=[x for x in w if x != []]
i = list(itertools.chain.from_iterable(a))
one_grams = ngrams(i, 1)
collections.Counter(one_grams).most_common(10)

[(('law',), 18),
 (('all',), 17),
 (('grow',), 17),
 (('contract',), 16),
 (('rep',), 16),
 (('plaintiff',), 15),
 (('posse',), 14),
 (('attach',), 14),
 (('cotton',), 14),
 (('2',), 13)]

In [51]:
bi_grams = nltk.bigrams(i)
freq = nltk.FreqDist(bi_grams)
(freq.most_common(10))

[(('common', 'law'), 7),
 (('john', 'rep'), 6),
 (('tri', 'hon'), 6),
 (('fieri', 'facial'), 5),
 (('while', 'foot'), 4),
 (('can', 'not'), 4),
 (('appeal', 'circuit'), 4),
 (('error', 'circuit'), 3),
 (('attach', 'favor'), 3),
 (('allen', 'harrison'), 3)]

In [53]:
tri_grams = nltk.trigrams(i)
freq = nltk.FreqDist(tri_grams)
freq.most_common(10)

[(('2', 'john', 'rep'), 3),
 (('all', 'grover', 'convers'), 3),
 (('5', 'all', '740'), 2),
 (('writ', 'error', 'circuit'), 2),
 (('interest', 'vest', 'posse'), 2),
 (('vest', 'posse', 'either'), 2),
 (('posse', 'either', 'immedi'), 2),
 (('either', 'immedi', 'futur'), 2),
 (('immedi', 'futur', 'time'), 2),
 (('case', 'cite', 'headnot'), 2)]

# 2. Python Regular Expression

## 2.1 Write a Python program to remove leading zeros from an IP address. (4 points)

ip = "260.08.094.109"

In [27]:
# Write your code here
import re
ip =  "260.08.094.109"
removing_0s = re.sub('\.[0]*', '.', ip)
print(removing_0s)

260.8.94.109

## 2.2 Write a Python Program to extract all the years from the following sentence. (4 points)

sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."

In [28]:
# Write your code here
import re
sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."
y = re.findall(r'2\d\d\d', sentence)
print(y)

['2010', '2010', '2019']